In [1]:
import pandas as pd
import numpy as np
movies=pd.read_csv('ml-latest-small/movies.csv')
links=pd.read_csv('ml-latest-small/links.csv')
ratings=pd.read_csv('ml-latest-small/ratings.csv')
tags=pd.read_csv('ml-latest-small/tags.csv')

In [2]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
def strrep(genre):
    return genre.replace('|',' ')

In [4]:
movies['genres']=movies.genres.apply(strrep)

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words='english')
genresvect=vectorizer.fit_transform(movies['genres'])

genresvect.shape

(9742, 23)

In [7]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(genresvect, genresvect)
cosine_sim

array([[1.        , 0.81357774, 0.15276924, ..., 0.        , 0.4210373 ,
        0.26758648],
       [0.81357774, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.15276924, 0.        , 1.        , ..., 0.        , 0.        ,
        0.57091541],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.4210373 , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.26758648, 0.        , 0.57091541, ..., 0.        , 0.        ,
        1.        ]])

In [8]:
indices=pd.Series(movies.index,index=movies['title']).drop_duplicates()
indices

title
Toy Story (1995)                                0
Jumanji (1995)                                  1
Grumpier Old Men (1995)                         2
Waiting to Exhale (1995)                        3
Father of the Bride Part II (1995)              4
                                             ...
Black Butler: Book of the Atlantic (2017)    9737
No Game No Life: Zero (2017)                 9738
Flint (2017)                                 9739
Bungo Stray Dogs: Dead Apple (2018)          9740
Andrew Dice Clay: Dice Rules (1991)          9741
Length: 9742, dtype: int64

In [9]:
def get_recommendation(title,cosine_sim=cosine_sim):
    idx=indices[title]
    sim_scores=list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:11]
    print(sim_scores)

    movie_indices = [i[0] for i in sim_scores]

    return movies['title'].iloc[movie_indices]

In [10]:
get_recommendation('Toy Story (1995)')

[(1706, 0.9999999999999998), (2355, 0.9999999999999998), (2809, 0.9999999999999998), (3000, 0.9999999999999998), (3568, 0.9999999999999998), (6194, 0.9999999999999998), (6486, 0.9999999999999998), (6948, 0.9999999999999998), (7760, 0.9999999999999998), (8219, 0.9999999999999998)]

1706                                          Antz (1998)
2355                                   Toy Story 2 (1999)
2809       Adventures of Rocky and Bullwinkle, The (2000)
3000                     Emperor's New Groove, The (2000)
3568                                Monsters, Inc. (2001)
6194                                     Wild, The (2006)
6486                               Shrek the Third (2007)
6948                       Tale of Despereaux, The (2008)
7760    Asterix and the Vikings (Astérix et les Viking...
8219                                         Turbo (2013)
Name: title, dtype: object

In [5]:
Rating=ratings.pivot(index='userId',columns="movieId",values='rating').fillna(0)

In [6]:
Rating

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
R=Rating.as_matrix()
user_mean=np.mean(R,axis=1)
rating_demeaned=R-user_mean.reshape(-1,1)

C:\Program Files\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [8]:
user_mean

array([0.10417524, 0.01177499, 0.00976964, 0.07897984, 0.01645413,
       0.11281366, 0.05049362, 0.01727684, 0.01542575, 0.0472028 ,
       0.02488688, 0.01444879, 0.01162073, 0.01676265, 0.04787125,
       0.03753599, 0.04545455, 0.19266763, 0.18850267, 0.08936652,
       0.14854998, 0.03146853, 0.04540313, 0.04128959, 0.01285479,
       0.00699301, 0.04925956, 0.1770362 , 0.03450226, 0.01655697,
       0.02015631, 0.03938708, 0.06077746, 0.03023447, 0.0096668 ,
       0.01624846, 0.00894694, 0.02581242, 0.04113534, 0.03990128,
       0.07260387, 0.16135335, 0.0533731 , 0.01655697, 0.15903949,
       0.01727684, 0.04396339, 0.0136775 , 0.00920403, 0.08864665,
       0.13939737, 0.05985191, 0.01028383, 0.01028383, 0.00730152,
       0.01799671, 0.16608392, 0.04494035, 0.04792267, 0.00843274,
       0.01624846, 0.15364048, 0.10119292, 0.2003805 , 0.01408885,
       0.14263677, 0.01470588, 0.41901481, 0.02067051, 0.02756067,
       0.01295763, 0.01923077, 0.08016248, 0.07774578, 0.02293295,
       0.03774167, 0.01192925, 0.0198478 , 0.02766351, 0.07316948,
       0.00740436, 0.07892842, 0.04015837, 0.11116824, 0.01295763,
       0.02828054, 0.00853558, 0.02324146, 0.18500617, 0.02262443,
       0.20079186, 0.00971822, 0.04278075, 0.01748252, 0.07018717,
       0.03116002, 0.01552859, 0.0370218 , 0.02108186, 0.06005759,
       0.02231592, 0.01933361, 0.15148087, 0.09846771, 0.30563554,
       0.01506582, 0.0136775 , 0.03116002, 0.04206088, 0.01953928,
       0.22187371, 0.02401275, 0.05625257, 0.01095228, 0.04339778,
       0.03074866, 0.05666392, 0.00863842, 0.09234883, 0.00771288,
       0.01964212, 0.13651789, 0.02324146, 0.02051625, 0.14289387,
       0.01285479, 0.00704443, 0.01480872, 0.05645825, 0.010181  ,
       0.02442411, 0.10844303, 0.01079803, 0.01285479, 0.10417524,
       0.03784451, 0.05769231, 0.00796997, 0.04278075, 0.21878856,
       0.06113739, 0.01491156, 0.02426985, 0.04776841, 0.00791855,
       0.01033525, 0.00694159, 0.01845948, 0.01624846, 0.00956397,
       0.02149321, 0.02606952, 0.04082682, 0.01532291, 0.01707116,
       0.15112094, 0.0075072 , 0.00915261, 0.03265117, 0.12170917,
       0.01537433, 0.01655697, 0.00709585, 0.01573427, 0.02365282,
       0.07959687, 0.06118881, 0.04314068, 0.11754422, 0.017174  ,
       0.03907857, 0.01023241, 0.00894694, 0.02519539, 0.00874126,
       0.0150144 , 0.31381119, 0.03239408, 0.02684081, 0.00879268,
       0.0356849 , 0.35278692, 0.02241876, 0.05105923, 0.01707116,
       0.09481695, 0.10016454, 0.02169889, 0.00843274, 0.02653229,
       0.03270259, 0.00915261, 0.0136775 , 0.00714726, 0.0678733 ,
       0.01295763, 0.01388318, 0.08257919, 0.12674825, 0.13086179,
       0.04638009, 0.1582682 , 0.01779103, 0.03378239, 0.01074661,
       0.01038667, 0.0059132 , 0.0088441 , 0.01527149, 0.05789798,
       0.03573632, 0.09157754, 0.03306253, 0.00647882, 0.03938708,
       0.06180584, 0.17410531, 0.00899835, 0.17189428, 0.08437886,
       0.14047717, 0.08139654, 0.02524681, 0.02365282, 0.0281777 ,
       0.18125257, 0.04062114, 0.00961538, 0.02498972, 0.04087824,
       0.00951255, 0.28815302, 0.05090498, 0.07280954, 0.02437269,
       0.01223776, 0.01727684, 0.01665981, 0.11553887, 0.05152201,
       0.0311086 , 0.01295763, 0.01532291, 0.03609626, 0.00586179,
       0.08921226, 0.05779515, 0.01964212, 0.39762443, 0.01172357,
       0.01151789, 0.01640271, 0.02103044, 0.05198478, 0.01162073,
       0.07059852, 0.00658165, 0.01079803, 0.00930687, 0.05877211,
       0.02103044, 0.01820239, 0.08026532, 0.02051625, 0.05614973,
       0.06478815, 0.02447552, 0.04339778, 0.01079803, 0.01316331,
       0.01408885, 0.01156931, 0.02262443, 0.44791238, 0.16937474,
       0.0185109 , 0.01028383, 0.00796997, 0.06602221, 0.07861991,
       0.00694159, 0.09831345, 0.01192925, 0.03362814, 0.01465446,
       0.04128959, 0.04098108, 0.34132044, 0.00894694, 0.1137392 ,
       0.01357466, 0.15142945, 0.00565611, 0.11733854, 0.01578568,
       0.01156931, 0.01923077, 0.22824969, 0.00863842, 0.01414027,
       0.03892431, 0.01316331, 0.02128754, 0.08597285, 0.27324146,
       0.03820444, 0.26727684, 0.0286919 , 0.04067256, 0.02324146,
       0.00673591, 0.08504731, 0.12001234, 0.04010695, 0.01141506,
       0.0163513 , 0.07250103, 0.33952077, 0.01593994, 0.0072501 ,
       0.02056767, 0.03753599, 0.03198272, 0.00678733, 0.09841629,
       0.06278281, 0.02025915, 0.08458453, 0.00678733, 0.09373715,
       0.06267997, 0.09882764, 0.00678733, 0.05414439, 0.01059235,
       0.02488688, 0.03331962, 0.01177499, 0.15528589, 0.01213492,
       0.02031057, 0.01995064, 0.02462978, 0.02673797, 0.02488688,
       0.06211436, 0.01645413, 0.02642945, 0.01419169, 0.01336898,
       0.05316742, 0.11430481, 0.03229124, 0.08679556, 0.01038667,
       0.11949815, 0.1558515 , 0.01372892, 0.0260181 , 0.00863842,
       0.03172563, 0.04756273, 0.010181  , 0.00904977, 0.07836281,
       0.0125977 , 0.07342657, 0.1370835 , 0.04499177, 0.03393665,
       0.01917935, 0.08144796, 0.03280543, 0.0123406 , 0.01326615,
       0.05558412, 0.05270465, 0.01974496, 0.01254628, 0.46009872,
       0.17266557, 0.10499794, 0.01326615, 0.02221308, 0.07034142,
       0.01923077, 0.3441485 , 0.01079803, 0.01439737, 0.03198272,
       0.14747018, 0.00822707, 0.04859111, 0.00699301, 0.01912793,
       0.00904977, 0.00935829, 0.0201049 , 0.01460304, 0.01995064,
       0.02612094, 0.01902509, 0.01316331, 0.02097902, 0.04946524,
       0.00668449, 0.00930687, 0.05933772, 0.04977376, 0.06972439,
       0.04257507, 0.04082682, 0.02540107, 0.94112505, 0.03948992,
       0.0160942 , 0.03074866, 0.03481078, 0.0606232 , 0.05542986,
       0.01563143, 0.03177705, 0.00879268, 0.05213904, 0.11116824,
       0.03331962, 0.02678939, 0.08144796, 0.02375566, 0.02231592,
       0.00560469, 0.09749074, 0.00853558, 0.09060058, 0.01866516,
       0.03465652, 0.04771699, 0.21909708, 0.00889552, 0.01321473,
       0.0209276 , 0.00262238, 0.01568285, 0.01645413, 0.03054299,
       0.02776635, 0.03105718, 0.54581448, 0.01285479, 0.02097902,
       0.01326615, 0.09466269, 0.1260798 , 0.0174311 , 0.02025915,
       0.01686549, 0.01779103, 0.02519539, 0.01162073, 0.03542781,
       0.00817565, 0.15939942, 0.01285479, 0.05327026, 0.04915673,
       0.04566022, 0.00771288, 0.01151789, 0.17564788, 0.02889757,
       0.01115796, 0.01228918, 0.01300905, 0.73683669, 0.07029   ,
       0.02612094, 0.23056355, 0.00637598, 0.06180584, 0.28157137,
       0.00894694, 0.04483752, 0.2709276 , 0.10787742, 0.00915261,
       0.02313863, 0.01809955, 0.04432332, 0.20110037, 0.03671329,
       0.027355  , 0.04812834, 0.02313863, 0.00956397, 0.10926573,
       0.010181  , 0.01871658, 0.01460304, 0.01064377, 0.0286919 ,
       0.01480872, 0.0123406 , 0.03265117, 0.03419375, 0.01331756,
       0.01408885, 0.00730152, 0.00529617, 0.15446318, 0.03223982,
       0.02205882, 0.01943645, 0.01280337, 0.135181  , 0.01295763,
       0.00987248, 0.09815919, 0.00874126, 0.01156931, 0.07424928,
       0.01480872, 0.07877417, 0.0361991 , 0.04658577, 0.1821267 ,
       0.02498972, 0.07075278, 0.02606952, 0.00822707, 0.01048951,
       0.00853558, 0.0220074 , 0.01712258, 0.20346565, 0.00822707,
       0.01398601, 0.01964212, 0.01701974, 0.01486014, 0.01727684,
       0.03033731, 0.0407754 , 0.03481078, 0.00987248, 0.00796997,
       0.02262443, 0.00894694, 0.01095228, 0.00791855, 0.01182641,
       0.04699712, 0.06031469, 0.0370218 , 0.03661045, 0.20536816,
       0.0134204 , 0.01069519, 0.02262443, 0.04730564, 0.16803784,
       0.17513369, 0.09723365, 0.07229535, 0.05779515, 0.01090086,
       0.02694364, 0.08890374, 0.00976964, 0.00822707, 0.06710202,
       0.02961744, 0.0657137 , 0.12952489, 0.00935829, 0.01172357,
       0.00637598, 0.05902921, 0.0110037 , 0.02982312, 0.1582682 ,
       0.01799671, 0.02319005, 0.01897367, 0.03506787, 0.02720074,
       0.09337721, 0.06746195, 0.01871658, 0.01655697, 0.25123406,
       0.01820239, 0.03465652, 0.0346051 , 0.09363431, 0.00863842,
       0.14772727, 0.18120115, 0.00822707, 0.6732826 , 0.23472851,
       0.04596874, 0.04709996, 0.34018922, 0.03578774, 0.0729638 ,
       0.41937474, 0.07280954, 0.26784245, 0.01244344, 0.49388112])

In [10]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(rating_demeaned, k = 50)
sigma=np.diag(sigma)

In [11]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_mean.reshape(-1, 1)
all_user_predicted_ratings

array([[ 2.16732840e+00,  4.02750508e-01,  8.40183552e-01, ...,
        -2.34533753e-02, -2.34533753e-02, -5.87318552e-02],
       [ 2.11459069e-01,  6.65755884e-03,  3.34547997e-02, ...,
         1.94980595e-02,  1.94980595e-02,  3.22813825e-02],
       [ 3.58844848e-03,  3.05175179e-02,  4.63929239e-02, ...,
         5.90929301e-03,  5.90929301e-03,  8.00411072e-03],
       ...,
       [ 2.16136388e+00,  2.67091989e+00,  2.12845971e+00, ...,
        -4.40029476e-02, -4.40029476e-02,  7.18717825e-02],
       [ 7.80205947e-01,  5.33648654e-01,  9.64537701e-02, ...,
         4.35514249e-03,  4.35514249e-03, -1.34622131e-03],
       [ 5.36398127e+00, -3.40945139e-01, -1.75163291e-01, ...,
        -2.63577616e-02, -2.63577616e-02,  5.15415792e-02]])

In [35]:
preds=pd.DataFrame(all_user_predicted_ratings,columns=Rating.columns)
preds

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,2.167328,0.402751,0.840184,-0.076281,-0.551337,2.504091,-0.890114,-0.026443,0.196974,1.593259,...,-0.023453,-0.019967,-0.026939,-0.026939,-0.023453,-0.026939,-0.023453,-0.023453,-0.023453,-0.058732
1,0.211459,0.006658,0.033455,0.017419,0.183430,-0.062473,0.083037,0.024158,0.049330,-0.152530,...,0.019498,0.016777,0.022219,0.022219,0.019498,0.022219,0.019498,0.019498,0.019498,0.032281
2,0.003588,0.030518,0.046393,0.008176,-0.006247,0.107328,-0.012416,0.003779,0.007297,-0.059362,...,0.005909,0.006209,0.005610,0.005610,0.005909,0.005610,0.005909,0.005909,0.005909,0.008004
3,2.051549,-0.387104,-0.252199,0.087562,0.130465,0.270210,0.477835,0.040313,0.025858,-0.017365,...,0.004836,0.004172,0.005500,0.005500,0.004836,0.005500,0.004836,0.004836,0.004836,-0.023311
4,1.344738,0.778511,0.065749,0.111744,0.273144,0.584426,0.254930,0.128788,-0.085541,1.023455,...,-0.008042,-0.007419,-0.008664,-0.008664,-0.008042,-0.008664,-0.008042,-0.008042,-0.008042,-0.010127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.501444,-0.139015,-0.082080,0.079300,-0.158770,-0.587275,2.368039,-0.014790,-0.093695,-0.182211,...,-0.038935,-0.032500,-0.045369,-0.045369,-0.038935,-0.045369,-0.038935,-0.038935,-0.038935,-0.045416
606,2.849138,1.368651,0.341869,0.000534,-0.272603,1.529573,-0.078889,-0.013913,0.075251,1.398731,...,0.006789,0.006108,0.007471,0.007471,0.006789,0.007471,0.006789,0.006789,0.006789,-0.030371
607,2.161364,2.670920,2.128460,0.036007,0.128314,3.684387,-0.028717,0.195936,0.073591,2.406330,...,-0.044003,-0.041123,-0.046882,-0.046882,-0.044003,-0.046882,-0.044003,-0.044003,-0.044003,0.071872
608,0.780206,0.533649,0.096454,0.029945,0.087756,0.209604,0.078704,0.061626,-0.064337,1.242835,...,0.004355,0.004268,0.004442,0.004442,0.004355,0.004442,0.004355,0.004355,0.004355,-0.001346
609,5.363981,-0.340945,-0.175163,-0.032863,0.172089,5.394580,-0.024982,0.004594,0.087655,-0.237017,...,-0.026358,-0.021180,-0.031536,-0.031536,-0.026358,-0.031536,-0.026358,-0.026358,-0.026358,0.051542

In [120]:
def recommend_movies(predictions, userID, movies, original_ratings, num_recommendations):
    user_row=userID-1
    sorted_movs=preds.iloc[user_row].sort_values(ascending=False)
    user_data = original_ratings[original_ratings.userId == (userID)]
    user_full = (user_data.merge(movies, how = 'left', left_on = 'movieId', right_on = 'movieId').
                     sort_values(['rating'], ascending=False)
                 )

    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    recommendations = (movies[~movies['movieId'].isin(user_full['movieId'])].
         merge(pd.DataFrame(sorted_movs).reset_index(), how = 'left',
               left_on = 'movieId',
               right_on = 'movieId').
         rename(columns = {user_row: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :]
                      )

    return user_full, recommendations
    
#     movie_id=list(sorted_movs.index)
#     movie_name=movies['title'].iloc(movie_id)

In [121]:
old,predictions=recommend_movies(preds,50,movies,ratings,20)

User 50 has already rated 310 movies.
Recommending highest 20 predicted ratings movies not already rated.

In [122]:
old

,userId,movieId,rating,timestamp,title,genres
21,50,924,4.5,1514238077,2001: A Space Odyssey (1968),Adventure Drama Sci-Fi
33,50,1204,4.5,1526329645,Lawrence of Arabia (1962),Adventure Drama War
35,50,1208,4.5,1527106159,Apocalypse Now (1979),Action Drama War
40,50,1251,4.5,1534178801,8 1/2 (8½) (1963),Drama Fantasy
121,50,7327,4.0,1525359178,Persona (1966),Drama
...,...,...,...,...,...,...
261,50,136305,1.0,1518168422,Sharknado 3: Oh Hell No! (2015),Horror Sci-Fi
280,50,156607,1.0,1514240000,The Huntsman Winter's War (2016),Action Adventure Drama Fantasy
222,50,103171,1.0,1518168356,Schlussmacher (2013),Comedy
298,50,175485,0.5,1514240073,Death Note (2017),Horror Thriller
247,50,122898,0.5,1514240068,Justice League (2017),Action Adventure Sci-Fi

In [138]:
# predictions[predictions['movieId']==457]
predictions

,movieId,title,genres,Predictions
866,1193,One Flew Over the Cuckoo's Nest (1975),Drama,3.180062
3524,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy Romance,2.150116
4787,7361,Eternal Sunshine of the Spotless Mind (2004),Drama Romance Sci-Fi,1.827880
884,1219,Psycho (1960),Crime Horror,1.826857
919,1265,Groundhog Day (1993),Comedy Fantasy Romance,1.805202
906,1247,"Graduate, The (1967)",Comedy Drama Romance,1.772405
675,912,Casablanca (1942),Drama Romance,1.763940
6857,68954,Up (2009),Adventure Animation Children Drama,1.752619
924,1270,Back to the Future (1985),Adventure Comedy Sci-Fi,1.583552
3540,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure Fantasy,1.572656
668,904,Rear Window (1954),Mystery Thriller,1.536614
4681,7153,"Lord of the Rings: The Return of the King, The...",Action Adventure Drama Fantasy,1.532584
4069,6016,City of God (Cidade de Deus) (2002),Action Adventure Crime Drama Thriller,1.531450
41,47,Seven (a.k.a. Se7en) (1995),Mystery Thriller,1.494204
6828,68157,Inglourious Basterds (2009),Action Drama War,1.492999
6597,60069,WALL·E (2008),Adventure Animation Children Romance Sci-Fi,1.491224
886,1221,"Godfather: Part II, The (1974)",Crime Drama,1.461012
2003,2762,"Sixth Sense, The (1999)",Drama Horror Mystery,1.443688
4030,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure Fantasy,1.429672
3468,4878,Donnie Darko (2001),Drama Mystery Sci-Fi Thriller,1.376437

In [158]:
# pd.DataFrame(preds.iloc[5].sort_values(ascending=False).iloc[:5, :-1])

In [133]:
predictions

,movieId,title,genres,Predictions
866,1193,One Flew Over the Cuckoo's Nest (1975),Drama,3.180062
3524,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy Romance,2.150116
4787,7361,Eternal Sunshine of the Spotless Mind (2004),Drama Romance Sci-Fi,1.827880
884,1219,Psycho (1960),Crime Horror,1.826857
919,1265,Groundhog Day (1993),Comedy Fantasy Romance,1.805202
906,1247,"Graduate, The (1967)",Comedy Drama Romance,1.772405
675,912,Casablanca (1942),Drama Romance,1.763940
6857,68954,Up (2009),Adventure Animation Children Drama,1.752619
924,1270,Back to the Future (1985),Adventure Comedy Sci-Fi,1.583552
3540,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure Fantasy,1.572656
668,904,Rear Window (1954),Mystery Thriller,1.536614
4681,7153,"Lord of the Rings: The Return of the King, The...",Action Adventure Drama Fantasy,1.532584
4069,6016,City of God (Cidade de Deus) (2002),Action Adventure Crime Drama Thriller,1.531450
41,47,Seven (a.k.a. Se7en) (1995),Mystery Thriller,1.494204
6828,68157,Inglourious Basterds (2009),Action Drama War,1.492999
6597,60069,WALL·E (2008),Adventure Animation Children Romance Sci-Fi,1.491224
886,1221,"Godfather: Part II, The (1974)",Crime Drama,1.461012
2003,2762,"Sixth Sense, The (1999)",Drama Horror Mystery,1.443688
4030,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure Fantasy,1.429672
3468,4878,Donnie Darko (2001),Drama Mystery Sci-Fi Thriller,1.376437

In [159]:
np.dot(U, sigma)

array([[ 1.16501057e+00,  2.22964281e-02, -8.24604451e-01, ...,
         6.20837069e-01,  1.43661755e+01, -2.82808906e+01],
       [ 3.40482926e-01, -7.08361538e-02, -1.03899483e+00, ...,
        -2.28194305e-01, -4.08673730e+00, -2.97005723e+00],
       [-4.42343185e-02,  3.67083563e-01,  4.48137644e-01, ...,
         1.24850804e-01,  4.70348952e-01, -3.08034375e-01],
       ...,
       [ 1.09381613e+01,  9.12229219e+00,  3.83601989e+00, ...,
        -2.70724237e+00,  2.83940333e+00, -5.62166205e+01],
       [-6.06052642e-01, -4.44869588e-01,  3.70963258e-01, ...,
        -7.57546106e+00,  3.23740339e+00, -4.06260044e+00],
       [-7.05134377e-01, -6.00207210e-01, -4.37202805e+00, ...,
         1.14310811e+01, -4.69764803e+01, -5.75856230e+01]])

In [160]:
np.matmul(U, sigma)

array([[ 1.16501057e+00,  2.22964281e-02, -8.24604451e-01, ...,
         6.20837069e-01,  1.43661755e+01, -2.82808906e+01],
       [ 3.40482926e-01, -7.08361538e-02, -1.03899483e+00, ...,
        -2.28194305e-01, -4.08673730e+00, -2.97005723e+00],
       [-4.42343185e-02,  3.67083563e-01,  4.48137644e-01, ...,
         1.24850804e-01,  4.70348952e-01, -3.08034375e-01],
       ...,
       [ 1.09381613e+01,  9.12229219e+00,  3.83601989e+00, ...,
        -2.70724237e+00,  2.83940333e+00, -5.62166205e+01],
       [-6.06052642e-01, -4.44869588e-01,  3.70963258e-01, ...,
        -7.57546106e+00,  3.23740339e+00, -4.06260044e+00],
       [-7.05134377e-01, -6.00207210e-01, -4.37202805e+00, ...,
         1.14310811e+01, -4.69764803e+01, -5.75856230e+01]])

In [12]:
np.dot(np.dot(U, sigma), Vt)

array([[ 2.06315317e+00,  2.98575271e-01,  7.36008315e-01, ...,
        -1.27628612e-01, -1.27628612e-01, -1.62907092e-01],
       [ 1.99684079e-01, -5.11743088e-03,  2.16798100e-02, ...,
         7.72306977e-03,  7.72306977e-03,  2.05063928e-02],
       [-6.18119364e-03,  2.07478758e-02,  3.66232818e-02, ...,
        -3.86034911e-03, -3.86034911e-03, -1.76553140e-03],
       ...,
       [ 1.89352142e+00,  2.40307743e+00,  1.86061726e+00, ...,
        -3.11845399e-01, -3.11845399e-01, -1.95970669e-01],
       [ 7.67762508e-01,  5.21205215e-01,  8.40103312e-02, ...,
        -8.08829642e-03, -8.08829642e-03, -1.37896602e-02],
       [ 4.87010015e+00, -8.34826258e-01, -6.69044410e-01, ...,
        -5.20238880e-01, -5.20238880e-01, -4.42339540e-01]])

In [13]:
R

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])